@using ConceptArchitect.BookManagement
@model Book





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> About Author </title>



    <link rel="stylesheet" href="~/css/details.css">
</head>
<body>
    <div class="wrapper">



        <div class="testimonial">
            <article>
                <h2>About</h2>
                <img src="@Model.CoverPhoto" />
                <h2>@Model.Title</h2>



                <blockquote>
                    @Model.Description
                </blockquote>
            </article>
        </div>
    </div>
</body>
</html>