@using ConceptArchitect.BookManagement
@model Book

<html lang="en">
<head>
    <title> About Author </title>
    <link rel="stylesheet" href="~/css/details.css">
</head>
<body>
    <div class="wrapper animate">
        <div class="testimonial">
            <article>
                <h2>About</h2>
                <img src="@Model.CoverPhoto" />
                <h2>@Model.Title</h2>

                <blockquote>
                    @Model.Description
                </blockquote>
            </article>
        </div>
    </div>
</body>
</html>