html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

.logo{
    width:60px;
    height:40px;
    margin-left:40px;
}

footer {
    background-color: #089da1;
    padding: 5px;
    color: white;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.author-details-photo {
    width: 250px;
    border: 15px solid black;
    padding: 5px;
    box-shadow: -5px -5px 5px gray;
    border-radius: 20px;
}

input[type=submit] {
    margin-top: 15px;
}
