@using ConceptArchitect.BookManagement
@model Author


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> About Author </title>

    <link rel="stylesheet" href="~/css/details.css">
</head>
<body>
    <div class="wrapper animate">
        <div class="testimonial">
            <article>
                <h2>About</h2>
                <img src="@Model.Photo" />
                <h2>@Model.Name</h2>

                <blockquote>
                    @Model.Biography
                </blockquote>
            </article>
        </div>
    </div>
</body>
</html>