@model IEnumerable<ConceptArchitect.BookManagement.review>



<h2>All Reviews</h2>

<div class="row">

    @foreach (var review in Model)
    {
        <div class='col col-md-3'>
            <div class="card" style="width: 18rem;margin-bottom:5rem">

                <div class="card-body">
                    <h5 class="card-title">@review.book_id</h5>
                    <p class="card-text">@review.reviewer_email</p>
                    <p class="card-text">@review.rating</p>
                    <p class="card-text">@review.details</p>
                </div>
            </div>
        </div>
    }
</div>