@using ConceptArchitect.BookManagement
@model User

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />




<body>
    <div class="container">

        <form asp-action="Add" asp-controller="User">
            <h2>Login</h2>
            <label asp-for="@Model.Email" class='form-label'>Email</label>
            <input type='text' name="Id" value="@Model.Email" />
            <label asp-for="@Model.Password" class='form-label'>Password</label>
            <input type='text' name="Password" value="@Model.Password" />

            <button class="submit-button" type="submit" onclick="login()">LOGIN</button>
        </form>
        <p> Don't have an account? <a href="Add.cshtml">Sign Up Here</a></p>
    </div>
</body>
